<% # User util links are now are list items to fit in the Bootstrap Nav bar menu  -%>
<div class="user-util-links">
  <% if has_user_authentication_provider? %>
    <% if current_user%>

        <%= link_to current_user, edit_user_registration_path %>
        
        (<%= link_to t('blacklight.header_links.logout'), destroy_user_session_path %>)
        <!-- <%= link_to t('blacklight.header_links.bookmarks'), bookmarks_path %> -->
        <br/>  
        <%= link_to t('blacklight.header_links.saved_searches'), saved_searches_path %>        
        <span class="visible-desktop">|</span>
  <% else %>
        <%= link_to t('blacklight.header_links.login'), new_user_session_path %>
        <br/>
  <% end %>
   
  <% end %>


  <%= link_to t('blacklight.header_links.selected_items'), folder_index_path, {:id=>'desktop-folder-link', :class => 'visible-desktop'} %>
  <%= link_to t('blacklight.header_links.selected_items'), folder_index_path, :class => 'hidden-desktop' %>
  <span id="folder" class="visible-desktop">(<span id="folder_number"><%= "#{session[:folder_document_ids] ? session[:folder_document_ids].length : 0}" %></span>)</span>
  <span class="visible-desktop">|</span>
  <%= link_to t('blacklight.header_links.search_history'), search_history_path %>
</div>